:root {
    --title-font: 'Josefin Sans', sans-serif;
    --text-font: 'Gudea', sans-serif;
    --dark-blue: #043D5B;
    --light-blue: #2795A9;
    --dark-olive: #6E7922;
    --light-olive: #9DB259;
}

* {
    color: var(--dark-blue);
    font-family: var(--title-font);
}

header {
    background-color: var(--dark-blue);
}

header h1 {
    display: inline-block;
    padding: 5px 5px 5px 50px;
    margin: 20px 0;
    background-color: var(--light-blue);
    font-family: var(--title-font);
}

#header-nav {
    float: right;
    display: flex;
    margin-top: 30px;
    margin-right: 50px;
}

#header-nav a {
    padding: 5px;
    color: var(--light-blue);
}

#banner {
    height: 200px;
    width: 100%;
    background-image: url(../images/butterflies-lizards.jpg);
    background-size: contain;
    background-position: center;
    position: relative;
}

p {
    font-family: var(--text-font);
}

.subtitle {
    background-color: var(--dark-blue);
    display: inline-block;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.subtitle p {
    color: var(--light-blue);
    font-family: var(--title-font);
}

.row {
    display: flex;
    padding: 20px 50px;
}

.section-header {
    border-right: 5px solid var(--dark-blue);
    width: 20%;
    text-align: right;
}

h2 {
    padding: 10px;
}

.content {
    width: 80%;
    padding-left: 20px;
}

#content-nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-column {
    width: 50%;
    height: 200px;
    padding: 7px;
}

.project-card {
    border: 7px solid var(--light-blue);
    height: 100%;
    position: relative;
}

.top {
    width: 100%;
    height: 450px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.label {
    background-color: var(--light-blue);
    display: inline-block;
    padding: 5px 5px 5px 10px;
    position: absolute;
    bottom: 20px;
    left: 0px;
}

@media screen and (max-width: 768px) {
    header h1 {
        display: block;
        text-align: center;
        padding: 5px;
        margin: 0;
    }

    #header-nav {
        float: none;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 0;
    }

    .subtitle {
        right: 50%;
        transform: translate(50%, 0);
    }
    
    .projects {
        flex-direction: column;
    }

    .project-column {
        width: 100%;
    }
    
    #content-nav {
        flex-direction: column;
        align-items: center;
    }

    #content-nav a {
        padding: 5px 0;
    }
}